@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/*MENU*/
nav {
    display: flex;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}
nav #logo {
    height: 100%;
    width: auto;
}
nav #menu {
    background-color: #E2BCB7;
    width: 100%;
    display: flex;
    list-style: none;
    align-items: center;
}
nav #menu #menu-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav #menu #menu-list li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
}
nav #menu #menu-list li a:after{
    content: "";
    display: flex;
    width: 0;
    height: 2px;
    background-color: #CA8A8B;
    transition: 0.5s;
}
nav #menu #menu-list li a:hover:after{
    width: 100%;
}
nav #menu #burger {
    display: none;
}
/*FIM MENU*/

main{
    background-color: #F6E6E4;
}
section{
    padding-top: 15vh;
    min-height: 90vh;
}
h1, h2{
    padding: 0 0 2rem 2.5rem;
    font-size: 1.25rem;
}

/*GALERIA*/
section div{
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section div a{
    height: 40vh;
    width: auto;
    margin: 20px;
    border-radius: 2vh;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
}
section div a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
section div a img:hover{
    transform: scale(1.4);
    transition: 0.25s linear;
}
/*FIM GALERIA*/

/*ÍCONES DE CONTATO*/
#lista-icones{
    list-style: none;
    height: 15vh;
    display: flex;
    width: max-content;
    gap: 5rem;
    margin: auto;
    align-items: center;
    padding: 5vh 0;
}
.icones{
    display: flex;
    text-decoration: none;
    color: #446A46;
    font-size: 3rem;
    gap: 1rem;
}
.icones:hover{
    color: #243D25;
    transition: 0.3s;
}
.icones span{
    font-size: 1.5rem;
    align-self: center;
}
#telefone{
    display: none;
}
/*FIM ÍCONES*/

footer{
    padding: 1.2rem 0;
    text-align: center;
    font-size: 1rem;
    background-color: #5B6D5B;
    color: #F6E6E4;
}

/*RESPONSIVIDADE*/
@media (max-width: 1023px){
    nav #menu {
        justify-content: flex-end;
    }
    nav #menu #menu-list {
        position: fixed;
        display: grid;
        left: 0;
        top: 10vh;
        height: 0px;
        width: 100vw;
        background-color: #E2BCB7;
        text-align: center;
        align-items: center;
        transition: 0.5s;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav #menu #menu-list.mostrar-menu {
        height: 45vh;
        visibility: visible;
    }
    nav #menu #burger {
        display: block;
        width: 30px;
        margin-right: 1rem;
    }
    nav #menu #burger div,
    nav #menu #burger:after,
    nav #menu #burger:before {
        background: #fff;
        content: "";
        display: block;
        height: 4px;
        border-radius: 2px;
        margin: 5px 0;
        transition: 0.5s;
    }
    nav #menu #burger.fechar:before {
        transform: translateY(8.7px) rotate(135deg);
    }
    nav #menu #burger.fechar:after {
        transform: translateY(-8.7px) rotate(-135deg);
    }
    nav #menu #burger.fechar div {
        transform: scale(0);
    }

    #lista-icones{
        height: auto;
        gap: 1.5rem;
        padding: 5vh 0 0 0;
    }
    .icones{
        font-size: 2.5rem;
    }
    .icones span{
        font-size: 1.3rem;
    }
    #lista-icones :nth-child(4){
        display: none;
    }
    #telefone{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        padding-bottom: 5vh;
    }
}
/*DISPOSITIVOS IOS*/
@supports (-webkit-touch-callout: none){
    nav #logo {
        width: 16.6vh;
    }
}