@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

header, main{
    font-size: 1.1rem;
}

/*MENU*/
#menu{
    position: fixed;
    top: 0;
    display: flex;
    list-style: none;
    width: 100%;
    height: 10vh;
    align-content: space-between;
    background-color: cadetblue;
}
#menu li a{
    color: white;
}
#menu li a:hover{
    background-color: beige;
    transition: 0.5s;
}
/*FIM MENU*/

section{
    padding-top: 10vh;
    min-height: 90vh;
}

#inicio{
    background-color: aquamarine;
}
#historia{
    background-color: burlywood;
}
#galeria{
    background-color: cornflowerblue;
}
#contato{
    background-color: darkolivegreen;
}


#divmapa{
    padding: 30vh 0 10vh 0;
    display: flex;
    align-self: center;
    justify-content: center;
}

#mapa{
    width: 90vw;
    height: 70vh;
    border: 0;
}

footer{
    padding: 1.2rem 0;
    text-align: center;
    font-size: 1rem;
}