@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

header, main{
    font-size: 1.1rem;
}

/*MENU*/
#logo{
    height: 10vh;
}
#menu{
    position: fixed;
    top: 0;
    display: flex;
    list-style: none;
    width: 100%;
    height: 10vh;
    background-color: cadetblue;
    z-index: 1;
    gap: 4vw;
}
#menu li{
    margin: auto 0;
}
#menu li a{
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    
}
#menu li:not(:first-child) a:after{
    content: "";
    display: flex;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.5s;
}
#menu li:not(:first-child) a:hover:after{
    width: 100%;
}
/*FIM MENU*/

section{
    padding-top: 15vh;
    min-height: 90vh;
}
h1, h2{
    padding: 0 0 2rem 2.5rem;
    font-size: 1.25rem;
}


#inicio{
    padding: 0;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrossel{
    z-index: 0;
}

#historia{
    background-color: burlywood;
}
#texto-historia{
    text-indent: 2rem;
    padding: 0 15vw;
}
#imagem-historia{
    display: flex;
    justify-content: center;
    padding: 2rem 0 1rem 0;
}
#frase{
    text-align: center;
}

#galeria{
    background-color: cornflowerblue;
    padding-top: 10vh;
    display: flex;
    gap: 5rem;
}
.gallery{
    margin: auto 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-left: 5vw;
}
.gallery a{
    height: 30vh;
    width: auto;
    margin: 20px;
    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery a img:hover{
    transform: scale(1.4);
    transition: 0.25s linear;
}
#galeria>a{
    text-decoration: none;
    color: #FFF;
    font-size: 3rem;
    height: max-content;
    display: inline-flex;
    gap: 1rem;
    align-self: center;
}
#galeria span{
    font-size: 2rem;
    align-self: center;
}
#galeria>a:hover{
    color: crimson;
    transition: 0.3s;
}

#contato{
    background-color: darkolivegreen;
}


#lista-icones{
    list-style: none;
    height: 15vh;
    display: flex;
    width: max-content;
    gap: 5rem;
    margin: auto;
    align-items: center;
}
.icones{
    display: flex;
    text-decoration: none;
    color: #FFF;
    font-size: 3rem;
    gap: 1rem;
}
.icones:hover{
    color: crimson;
    transition: 0.3s;
}
.icones span{
    font-size: 1.5rem;
    align-self: center;
}

#localizacao{
    padding-top: 15vh;
}
#divmapa{
    padding-bottom: 10vh;
    display: flex;
    align-self: center;
    justify-content: center;
}

#mapa{
    width: 90vw;
    height: 70vh;
    border: 0;
}

footer{
    padding: 1.2rem 0;
    text-align: center;
    font-size: 1rem;
}